.main-heading{
    text-align: center;
}
.whole-div{
    display: flex;
    justify-content: space-around;
}
.right-div{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
}

.inp{
    width: 300px;
    height: 30px;
    border-radius: 10px;
    font-size: 15px;
    border: 1px solid rgb(194, 189, 189);
    padding: 5px;
}


.redd{
    color: red;
}

.gre{
    color: green;
}

.btn-g, .btn-r{
    padding: 10px;
    margin: 30px;
    border-radius: 20px;
    width: 100px;
    height: 40px;
    border: none;
}

.btn-r{
    background-color: rgb(255, 67, 67);
}
.btn-g{
    background-color: rgb(86, 252, 86);
}